camera:
  enabled: true
controller:
  enabled: true
  device: /dev/input/event0
  left_thumbstick:
    invert_y: true
  right_thumbstick:
    reverse: false
telescope:
  device: /dev/ttyUSB0
site:
  latitude: 50.7
  longitude: -2
  elevation: 70
